/*root*/

:root {
    --primary-bg-color: #faf7f4;
    --white-color:#ffffff;
    --black-color:#000000;
    --cream-color:#f9f9f9;
    --charcoal-color:#222831;
    --coral-color:#FF7B54;
}

/*body*/

body {
    height:100vh;
    overflow: hidden;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/*hero*/

.imgsection {
    width:100vw;
    height:100vh;
    position: relative;
}

section .imgbg {
    width:100%;
    height:100%;
    opacity: 0.45;
    object-fit: cover;
    object-position: top center;
}

.herosection {
    margin-left: -36px;
    position: absolute;
    top:0;
}

.hero {
    height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: end;
}

/*fonts*/

h2 span {
    color:  var(--coral-color);
    font-size:28px;
    font-weight: 800;
}

h1 span {
    color:  var(--coral-color);
    font-size:48px;
    font-weight: 800;
}

/*hero*/

.hero img {
    width:350px;
}

.hero h1 {
    margin-top:0px;
    font-weight: 800;
}

.hero h2 {
    font-weight: 800;
    margin-bottom:0px;
}

.hero ul {
    width:fit-content;
    
}

.containerhero {
    max-width: 1440px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    gap:24px;
}

/*topics*/

.topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:24px;
}

.topics a {
    height:125px;
}

.topics div {
    display: flex;
    flex-direction:column;
    gap:8px;
    background-color: var(--white-color);
    padding:24px;
    border-radius:16px;
    box-shadow: 1px 1px 2px 2px rgb(255,255,255,0.8);
    height:100%;
    color: var(--charcoal-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.topics div:hover {
  background-color: var(--cream-color);
  color: var(--charcoal-color);
}


.topics h2, .topics p {
    margin: 0px!important;
    transition: color 0.4s ease;
}

.topics h2 {
    color: var(--black-color);
}

.topics div:hover h2 {
  color: var(--charcoal-color);
}

.topics a {
    text-decoration: none;
    color: var(--charcoal-color);
}

/*Media query*/

@media (max-width:767px) {

body {
    height:100vh;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: scroll;
}

.containerhero {
    max-width: 767px;
    padding-left:16px;
    padding-right:16px;
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap:24px;
}

.herosection {
    margin-left: 0px;
    position: absolute;
    top:0;
    bottom:0px;
    padding-top:24px;
    padding-bottom:24px;
}

.leftcolumnhero {
    display: none;
}

.hero {
    height:auto;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: end;
}

.topics {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto!important;
    max-height: fit-content;
    gap: 16px;

}

.rightcolumnhero {
    padding-bottom:96px
}

.rightcolumnhero > h1, .rightcolumnhero > h2, .rightcolumnhero > p {
    text-align: center;
}

.rightcolumnhero > h1 {
    line-height: 48px;
    padding-top:24px
}

.topics a {
    max-height:200px!important;
    height: auto!important;
}

section .imgbg {
    opacity: 0;
}

.leftcolumnhero {
    display: none;
}


}

@media (min-width:768px) and (max-width:1400px) {

body {
    height:100vh;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: scroll;
}

section .imgbg {
    opacity: 0.1;
}

.containerhero {
    max-width: 1400px;
    padding-left:16px;
    padding-right:16px;
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap:24px;
}

.herosection {
    margin-left: 0px;
    position: absolute;
    top:0;
    bottom:0px;
    padding-top:16px;
    padding-bottom:16px;
}

.hero img {
    width:175px;
}

.hero {
    height:auto;
}

.topics {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto!important;
    max-height: fit-content;
    gap: 16px;
    padding-bottom: 100px;
}

.rightcolumnhero {
    padding-bottom:96px
}

.leftcolumnhero {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.topics a {
    max-height:150px!important;
    height: auto!important;
}

}
